@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
 display: inline-block;
 padding-left: 20px;
}

.logo img{
    height: 70px;
    width: 170px;
}

.navbar{
    margin-top: 10px;
    padding-right: 50px;
}
.navbar li{
    display: inline-block;
    margin: 0px 15px;
}

.navbar ul li a {
    font-family: "Kanit",sans-serif;
    text-decoration: none;
    color: white;
    transition: all 0.6s ease-in-out 0s;
    padding: 4px;
    border-radius: 6px;
    font-size: 18px;
    
}

.navbar li a:hover{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0px 5px;  
    
}


.firstimg{
    display: block;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    background-color: transparent;
    z-index: 0;

}

.arrow{
    display: inline-block;
    position: absolute;
    background-color: transparent;
    left: 20%;
    bottom: 28%;
    rotate: -20deg;
    z-index: 1;
    width: 400;
    filter: drop-shadow(0 0 15px rgb(255, 255, 255));
}

.textphrase{
    font-family: "Shadows Into Light", sans-serif;
    top: 60%;
    left: 10%;
    font-size: 140px;
    background-color: transparent;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
  
}

.centre{
    position: relative;
    height: 100%;
}

.buy
{
    display: inline-block;
    position: absolute;
    color: rgb(255, 236, 236);
    background-color: rgb(0, 0, 0);
    font-family:"Kanit", sans-serif; 
    width: 100px;
    padding: 5px 10px;
    top: 50%;
    left: 39%;
    visibility: hidden;
    border-radius: 10px;
    border: none;
    z-index: 3;
    rotate: 28deg;
    cursor: pointer;
    transition: all 1s ease-in-out 0s;
}

.arrow.anim{
   
    animation: fade-arrow 0.8s ease-in forwards;
}

@keyframes fade-arrow {
    from{
     opacity: 0;
     transform: translateY(-40px);
     transform: translateX(-40px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
        transform: translateY(0px);
    }
}

.buy.anim{
    opacity: 0;
    animation: buyanim 3s ease-in-out forwards;
}
@keyframes buyanim {
    99%{
        visibility: visible;

    }
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}

.buy:hover{
    color: transparent;
    scale: 1.2;
    color: white;
    font-size: 15px;
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2h5dHc1Yng0MXpjb3VtMXRubjRsamhuZ3l2d2NnMG5icXlveWhtMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/U3qYN8S0j3bpK/giphy.gif);
  
    -moz-background-clip: text;
    box-shadow: 0 0 20px rgba(154, 94, 246, 0.8), 0 0 40px rgba(79, 27, 156, 0.6), 0 0 60px rgba(94, 54, 153, 0.4);
    

}
.navbar.anim{
    opacity: 0;
    transform: translateY(-30px);
    animation: navbar-anim 0.8s linear forwards;
}

@keyframes navbar-anim {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.logo.anim{
    opacity: 0;
    transform: translateY(-30px);
    animation: logo-anim 0.8s linear forwards;
}

@keyframes logo-anim {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.firstimg.anim{
    opacity: 0;
    transform: scale(0.5);
    transform: translateX(-100px);
    animation: imganim 0.8s linear forwards;
}

@keyframes imganim {

    100%{
        opacity: 1;
        transform: translateX(0px);
        transform: scale(1);
        visibility: visible;
    }
}

.textphrase.anim{
    opacity: 0;
    transform: translateY(-30px);
    animation: text-anim 1.5s linear forwards;
}

@keyframes text-anim {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
